DB_HOST=172.105.192.102
DB_PORT=5432
DB_NAME=lamtube
DB_USERNAME=lamtube_app
DB_PASSWORD=lamtube123!

POSTGRES_PORT=5432
POSTGRES_DB=lamtube
POSTGRES_USER=lamtube_app
POSTGRES_PASSWORD=lamtube123!

REDIS_HOST=127.0.0.1
REDIS_PORT=6380
REDIS_PASSWORD=lamtube_redis_123!

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=127.0.0.1
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

RUSTFS_IMAGE_TAG=latest
RUSTFS_PORT_API=9100
RUSTFS_PORT_CONSOLE=9101
RUSTFS_INTERNAL_URL=http://172.105.192.102:9100
RUSTFS_PUBLIC_URL_PREFIX=http://172.105.192.102:9100
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin

APP_CORS_ALLOWED_ORIGINS=https://your-vercel-project.vercel.app
APP_CORS_ALLOWED_ORIGIN_PATTERNS=https://*.vercel.app

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tql213598@gmail.com
MAIL_PASSWORD=wqmftqzxokfzlnnw
