DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=lamtube
DB_USERNAME=lamtube_app
DB_PASSWORD=change_me_db_password

POSTGRES_PORT=5432
POSTGRES_DB=lamtube
POSTGRES_USER=lamtube_app
POSTGRES_PASSWORD=change_me_postgres_password

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=change_me_redis_password

RUSTFS_IMAGE_TAG=latest
RUSTFS_PORT_API=9000
RUSTFS_PORT_CONSOLE=9001
RUSTFS_INTERNAL_URL=http://172.105.192.102:9000
RUSTFS_PUBLIC_URL_PREFIX=http://172.105.192.102:9000
RUSTFS_ACCESS_KEY=change_me_rustfs_access_key
RUSTFS_SECRET_KEY=change_me_rustfs_secret_key

APP_CORS_ALLOWED_ORIGINS=https://your-vercel-project.vercel.app
APP_CORS_ALLOWED_ORIGIN_PATTERNS=https://*.vercel.app

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=change_me_mail_username
MAIL_PASSWORD=change_me_mail_password
